{% extends "base.html" %}

{% block title %}TFL Cycling and Weather Data Portal{% endblock %}

{% block content %}

  <div class="row justify-content-center">
      <div class="logo" id = "welcome-text">
            <h2>Welcome to the Transport for London (TFL) Data Portal</h2>
      </div>
    <div style="text-align: center;">
      <h2 style="font-size: 28.5px;">
          Providing clients with reliable cycling data, statistics, and chart production
      </h2>
      <img src="/static/img/santander_cycles.jpg" height="480" width="950">
      <p style="font-size: large;"> <a href="/login">Login</a> to create or view your charts</p>
    </div>
    
  </div>
  
  



{% endblock %}
